.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.imag {
  max-height: 100vh;
}

.comment {
  font-size: 1.2em;
  margin-left: 1%;
  color: rgba(9, 9, 121, 1);
}

.heartColor {
  color: rgba(0, 212, 255, 1);
}
