.navbar {
  margin-bottom: 5%;
}
.logo {
  width: 50px;
  margin: 0.6em;
  border-radius: 50%;
  border: 1px solid blue;
}

.nav-link {
  font-weight: bold;
  margin-left: 3em;
}

.nav-icon {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
