  
.avatar {
    width: 130px;
    margin-top: -50px;
    display: flex;
    align-items: center;
}
.avatar img{
    width: 100%;
    object-fit: cover;
}
.profile_card h4 {
    font-weight: bold;
}
.link_profil {
    text-decoration: none;
}